extend layout
block content
  div.container.deck-tray
    div.row
      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1.deck

      div.col-md-1.col-lg-1.tray-1

      div.col-md-1.col-lg-1.tray-2

      div.col-md-1.col-lg-1.tray-3

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

div.container.board
    div.row
      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1

      div.col-md-1.col-lg-1
